<ul>
  <li>
    <%= link_to "#{@coins.model_name.human(count: @coins.count)}", coins_path %>
  </li>
  <li>
    <%= link_to "#{@mining_types.model_name.human(count: @mining_types.count)}", mining_types_path %>
  </li>
</ul>